body {
  --playback-logo-image: url('https://github.com/sergiogc92/chromecast-receiver/blob/main/logo.png');
  --playback-logo-image: url('https://github.com/sergiogc92/chromecast-receiver/blob/main/logo.png'); /* set from the body selector */
}
cast-media-player {
  --theme-hue: 100;
  --progress-color: rgb(0, 255, 0);
  --splash-image: url('https://github.com/sergiogc92/chromecast-receiver/blob/main/logo.png');
  --splash-size: cover;
}
